<div class="home-slider">
  <div class="swiper-container js-home-slider">
    <ul class="swiper-wrapper">
      {{#each home.slider}}
        <li class="swiper-slide home-slide">
          <div class="home-slide__bg">{{>components/image no-2x=true img=img ext=ext}}</div>
          <div class="home-slide__container">
            <div class="home-slide__content">
              <span class="home-slide__title">{{title}}</span>
              <ul class="home-slide__list">
                {{#each this.list}}
                  <li>{{item}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
    <div class="home-slider__nav">
      {{>components/slider-nav}}
    </div>
  </div>
</div>