<section class="category-product">
  <div class="category-product__container">
    <div class="category-product__image">
      <div class="category-product__image-wrapper">
        {{>components/image no-2x=true img="brands/dukat" ext="png"}}
      </div>
    </div>
    <div class="category-product__description">
      <p class="category-product__text">
        Компания "Дукат" - занимается производством и продажей качественных ингредиентов и сырья для пищевой
        промышленности - Мы стремимся к стабильности в успехе, смотрим далеко вперед и не упускаем возможности учиться и
        развиваться. - Мы активно и с энтузиазмом работаем на благо нашей компании, наших клиентов и над созданием своих
        продуктов. - Мы производим только качественную продукцию. Мы полностью осознаем и несем ответственность за
        качество своей продукции. - Мы поставляем различные ингредиенты для удовлетворения любых потребностей наших
        клиентов. - Мы ведем разработки продукции совместно с зарубежными специалистами пищевой отрасли - Наше
        производство сертифицировано по международному стандарту ISO 22000-2007 (ISO 22000:2005) Наш девиз "Вместе к
        успеху!" - отражает наше отношение к партнерам, поставщикам, дистрибьюторам, сотрудникам и к жизни в целом. Мы
        стараемся делать все, чтобы Вы были успешными вместе с нами! *По тексту сайта и иных материалов, размещенных в
        сети Интернет - наши предприятия ООО Компания "Дукат", ООО "Александрия", ООО "Новые технологии" и др., вместе
        или по отдельности.
      </p>
    </div>
  </div>
</section>
<section class="shop-catalog">
  <ul class="shop-catalog__list">
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с названием в целых три строки, если такое вообще возможно"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с очень длинным двухстрочным названием"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с названием в целых три строки, если такое вообще возможно"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с очень длинным двухстрочным названием"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
  </ul>
  <div class="shop-catalog__nav">
    {{>components/pagination}}
  </div>
</section>