<section class="shop-catalog">
  <ul class="shop-catalog__list">
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с названием в целых три строки, если такое вообще возможно"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар с очень длинным двухстрочным названием"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Товар"
          text="Дрожжи прессованные — это спрессованный в брикет продукт, который был получен посредством брожения особого вида грибов, используемый в качестве разрыхлителя для теста."
      }}
    </li>
  </ul>
</section>
