<section class="category-product">
  <div class="category-product__container">
    <div class="category-product__image">
      <div class="category-product__image-wrapper">
        {{>components/image no-2x=true img="home/catalog/ex" ext="png"}}
      </div>
    </div>
    <div class="category-product__description">
      <h3 class="category-product__subtitle">Производитель:</h3>
      <div class="category-product__brand">
        <a href="#" class="category-product__brand-image">
          {{>components/image no-2x=true img="brands/dukat" ext="png"}}
        </a>
      </div>
      <h3 class="category-product__subtitle">Описание</h3>
      <p class="category-product__text">
        Кондитерский гель представляет собой желеобразный состав прозрачного цвета, который при покрытии им фруктов и
        ягод образует тонкую прозрачную пленочку с нейтральным вкусом, благодаря чему фрукты и ягоды не обветриваются.
      </p>
    </div>
    <div class="category-product__table">
      <h3 class="category-product__subtitle">Характеристики:</h3>

      <table>
        <tbody>
        <tr>
          <td>Применение:</td>
          <td>для глянцевания и заливки тортов и пирожных, для глазирования свежих или консервированных фруктов, при
            изготовлении десертов и фруктового желе.
          </td>
        </tr>
        <tr>
          <td>Преимущества и особенности:</td>
          <td>быстрота в приготовлении, чистый, прозрачный внешний вид готового геля, быстрота застывания на поверхности
            готового изделия (в зависимости от толщины налитого слоя от 3 до 10 мин.), не впитывается в поверхность
            изделий, обеспечивает равномерное распределение на любых фруктах, предохраняет фрукты от высыхания и
            заветривания, придает изделию завершенный вид, вкус и блеск, при разрезании желе образует ровный срез, при
            нанесении можно использовать кисть или спрей-машину, сохраняет свои желирующие свойства при повторном
            растапливании, устойчив к замораживанию и дефростации, сухой гель не требует хранения в холодильнике,
            длительный срок годности.
          </td>
        </tr>
        <tr>
          <td>Ассортимент:</td>
          <td>нейтральный</td>
        </tr>
        <tr>
          <td>Рекомендация в приготовлении геля:</td>
          <td>сухой гель –100г, сахар-песок – 350г, вода –550г.</td>
        </tr>
        <tr>
          <td>Способ приготовления:</td>
          <td>сахар смешать с сухим гелем, добавить холодную воду, перемешать и довести до кипения. Готовый гель
            использовать в горячем виде.</td>
        </tr>
        <tr>
          <td>Условия хранения и срок годности:</td>
          <td>при t от 2 до 25˚С и относительной влажности 75-80%, 12 месяцев.</td>
        </tr>
        <tr>
          <td>Упаковка:</td>
          <td>крафт мешок с полиэтиленовым вкладышем, масса нетто 5 кг.</td>
        </tr>
        </tbody>
      </table>

      <p class="category-product__related-events">Данный товар не использовался в мастер классах</p>
    </div>
  </div>
</section>