<section class="shop-catalog">
  <ul class="shop-catalog__list">
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
    <li class="shop-catalog__item">
      {{>widgets/catalog-item
          img="home/catalog/ex"
          ext="png"
          title="Категория товара"
      }}
    </li>
  </ul>
</section>
