.section {
  &__container {
    padding: 70px 60px;
    background-color: $color-white;

    @include media(mobile) {
      padding: 35px 25px;
    }
  }

  &__header {
    + * {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;

    @include media(mobile) {
      font-size: 18px;
    }

    &--center {
      text-align: center;
    }
  }

  &__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    p a {
      color: $color-primary;

      &:hover {
        color: $color-font-dark;
      }
    }
  }

  &__action {
    @include media(mobile, up) {
      display: flex;
      justify-content: center;
      margin-top: 55px;
    }

    @include media(mobile) {
      margin-top: 45px;
    }
  }

  &__action-btn {
    @include btn-regular;
    @include btn-base;
    @include btn-primary;
    font-size: 10px;
    color: $color-font-dark;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include media(mobile, up) {
      padding: 16px 30px 14px;
      min-width: 255px;
    }

    @include media(mobile) {
      width: 100%;
    }
  }
}