.sidebar-list {
  &__item {
    border-top: 1px solid $color-gray-20;

    &--parent {
      position: relative;
      z-index: z(default) + 1;

      &:focus,
      &:focus-within,
      &:hover {
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 0;
        }

        > .sidebar-list__link {
          color: $color-primary;

          + * {
            @include media(tabletSmall, up) {
              display: initial;
            }
          }
        }

        .sidebar-list__submenu {
          @include media(tabletSmall, up) {
            @include shadow(md);
          }

          @include media(tabletSmall) {
            max-height: 200px;
          }
        }
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        transform: translateY(-50%) scale(0.8);
        @include transition;
      }

      &::before {
        @include sprite('right');
      }

      &::after {
        @include sprite('right-primary');
        opacity: 0;
      }

      > .sidebar-list__link {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }

  &__link {
    display: block;
    padding: 13px 12px 13px 23px;
    font-size: 14px;
    line-height: normal;

    @include media(mobile, up) {
      white-space: nowrap;
    }

    &:focus-within,
    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-primary;
      padding-left: 21px;
      border-left: 2px solid $color-primary;

      .icon-arrowRight {
        &::after,
        &::before {
          background-color: $color-primary;
        }
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: $color-white;

    @include media(tabletSmall, up) {
      display: none;
    }

    @include media(tabletSmall) {
      position: static;
      max-height: 0;
      overflow: hidden;
      width: 100%;
      @include hide-scrollbar;
      @include transition(all, 500ms);
    }

    > *:first-child {
      border-top: unset;
    }

    > * + * {
      border-top: 1px solid $color-gray-20;
    }

    .sidebar-list__link {
      @include media(tabletSmall) {
        padding-left: 46px;
      }

      @include media(mobile) {
        padding-left: 36px;
      }
    }
  }
}