<article class="catalog-item">
  <a href="#" class="catalog-item__link"></a>
  <div class="catalog-item__content">
    <div class="catalog-item__image">
      {{#if img}}{{>components/image no-2x=true img=img ext=ext}}{{/if}}
    </div>
    <h3 class="catalog-item__title">{{title}}</h3>
    {{#if text}}<p class="catalog-item__description"><span>Описание:</span> {{text}}</p>{{/if}}
  </div>
</article>