<div class="faq-item js-accord">
  <div class="faq-item__container">
    <div class="faq-item__header js-accord__toggle">
      <span class="faq-item__order">{{o}}</span>
      <span class="faq-item__title">{{q}}</span>
      <div class="faq-item__icon">
        <i class="faq-item__icon-container"></i>
      </div>
    </div>
    <div class="faq-item__content js-accord__body">
      <div class="faq-item__content-inner">
        <p>{{a}}</p>
      </div>
    </div>
  </div>
</div>