<div class="ingredient-item">
  <a href="#" class="ingredient-item__link"></a>
  <div class="ingredient-item__content">
    <div class="ingredient-item__image">{{>components/image no-2x=true img=img ext=ext}}</div>
    <span class="ingredient-item__label">{{label}}</span>
  </div>
</div>