<article class="news-card">
  <div class="news-card__container">
    <div class="news-card__image">
      <a class="news-card__image-wrapper" href="#">{{>components/image no-2x=true img='blog/ex' ext="jpg"}}</a>
    </div>
    <div class="news-card__content">
      <div class="news-card__date">{{#if events}}Мероприятие завершено{{else}}<time datetime="22-09-2020">22 сентября 2020</time>{{/if}}</div>
      <h2 class="news-card__title"><a href="#">Отмена XVII Сибирского форума хлебопечения</a></h2>
      <p class="news-card__text">В связи с пандемией COVID-19 организаторами международного форума «Пищевая индустрия» в
        Красноярске, в рамках которого проходят Сибирский форум хлебопечения и VIII отрытый чемпионат России...</p>
      <div class="news-card__actions">
        <a href="#" class="news-card__btn">Читать подробнее</a>
      </div>
    </div>
  </div>
</article>