<article class="related-event">
  <a href="#" class="related-event__link" aria-label="Перейти на страницу события."></a>
  <div class="related-event__content">
    <p class="related-event__date">
      <time datetime="20-02-2020">{{time}}</time>
    </p>
    <h3 class="related-event__title">{{title}}</h3>
  </div>
</article>