<div class="sidebar-banner">
  <div class="sidebar-banner__container">
    <a class="sidebar-banner__link" href="#"></a>
    <div class="sidebar-banner__bg">{{>components/image no-2x=true img=img ext=ext}}</div>
    <h2 class="sidebar-banner__title">{{title}}</h2>
    <p class="sidebar-banner__text">{{text}}</p>
    <div class="sidebar-banner__action"><a class="sidebar-banner__btn" href="#">Подробнее</a></div>
  </div>
</div>