<div class="speaker-item">
  <div class="speaker-item__container">
    <div class="speaker-item__image">{{>components/image no-2x=true img=img ext=ext}}</div>
    <span class="speaker-item__title">{{title}}</span>
  </div>
</div>