<section class="catalog">
    <div class="contaienr">
        <div class="catalog__title section-title">Каталог товаров</div>
        <div class="catalog__content">
            <ul class="catalog__list">
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Дрожжи</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Смеси и концентраты</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Улучшители</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Маргарин</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Глазури и кремы</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Конфитюры и повидло</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Гели</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Семена и орехи</div>
                    </div>
                </li>
                <li class="catalog__item">
                    <div class="catalog-item">
                        <img src="../assets/images/common/catalog-yeast.jpg" alt="yeast" class="catalog-item__image">
                        <div class="catalog-item__name">Специи</div>
                    </div>
                </li>
            </ul>
            <button class="catalog__button">Все товары</button>
        </div>
    </div>
</section>