<section class="section home-partners">
  <div class="container">
    <div class="section__container home-partners__container">
      <div class="home-partners__bg"></div>
      <div class="home-partners__content">
        <header class="section__header">
          <h2 class="section__title">РАСКРОЙТЕ ПОТЕНЦИАЛ СВОЕГО БИЗНЕСА НА ВСЕ 100% ВМЕСТЕ С "СИБИРСКИМ ХЛЕБОПЕКАРНЫМ
            ЦЕНТРОМ"</h2>
        </header>
        <div class="section__content home-partners__text">
          <p>Мы станем для вас надежным поставщиком с самым широким ассортиментом продукции для хлебопечения и
            кондитерского производства. Мы с радостью передадим свой опыт, знания, секреты, тонкости современного
            хлебопечения и кондитерского искусства.</p>
          <p>Мы поможем вам открыть пекарню или оптимизировать существующую:</p>
          <ul>
            <li>проконсультируем ваших технологов и кондитеров;</li>
            <li>снизим себестоимость продукции без потери ее качества и пользы;</li>
            <li>поможем оптимизировать производственные процессы;</li>
            <li>расскажем, как правильно развивать свой бизнес;</li>
            <li>вы не пропустите тренды, повысите конкурентноспособность.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>