<section class="section home-catalog">
  <div class="container">
    <div class="section__container">
      <header class="section__header">
        <h2 class="section__title section__title--center">КАТАЛОГ ТОВАРОВ</h2>
      </header>
      <div class="section__content shop-catalog">
        <ul class="shop-catalog__list">
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Дрожжи"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Смеси и концентраты"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Улучшители"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Маргарин"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Глазури и кремы"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Конфитюры и повидло"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Гели"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Семена и Орехи"
           }}
          </li>
          <li class="shop-catalog__item">
           {{>widgets/catalog-item
               img="home/catalog/ex"
               ext="png"
               title="Специи"
           }}
          </li>
        </ul>
        <div class="section__action">
          <a href="#" class="section__action-btn">Все товары</a>
        </div>
      </div>
    </div>
  </div>
</section>
