<section class="section home-about">
  <div class="container">
    <div class="section__container home-about__container">
      <div class="home-about__left">
        <header class="section__header section__header--closer">
          <h2 class="section__title">Немного о компании</h2>
        </header>
        <div class="section__content">
          <p>
            «Сибирский Хлебопекарный Центр» — это компания нового бизнес-формата, которая оказывает технологическую, а
            также информационную поддержку бизнеса клиентов. Наша компания специализируется на комплексном обеспечении
            хлебопекарных и кондитерских предприятий, торговых сетей, ресторанов пищевыми ингредиентами и сопутствующими
            товарами для производства хлеба, выпечки и кондитерских изделий.
          </p>
          <p>
            <a href="#">Читать подробнее</a>
          </p>
        </div>
      </div>
      <div class="home-about__right">
        {{>components/image
            no-2x=true
            img="home/about/about"
            ext="jpg"
        }}
      </div>
    </div>
  </div>
</section>
