<section class="section home-reasons">
  <div class="container">
    <div class="section__container home-reasons__container">
      <header class="section__header section__header--closer">
        <h2 class="section__title section__title--center">5 ПРИЧИН ВЫБРАТЬ "СИБИРСКИЙ ХЛЕБОПЕКАРНЫЙ ЦЕНТР"</h2>
      </header>
      <div class="section__content">
        <ul class="home-reasons__list">
          <li class="home-reasons__item">
            {{>widgets/reasons-item
                no-2x=true
                img="home/reasons/icon-1"
                ext="png"
                text="Наличие собственного демонстрационного центра"
            }}
          </li>
          <li class="home-reasons__item">
            {{>widgets/reasons-item
                img="home/reasons/icon-2"
                ext="png"
                text="Многоступенчатый контроль за качеством продукции"
            }}
          </li>
          <li class="home-reasons__item">
            {{>widgets/reasons-item
                img="home/reasons/icon-3"
                ext="png"
                text="Эффективные мастер-классы и&nbsp;семинары для&nbsp;клиентов"
            }}
          </li>
          <li class="home-reasons__item">
            {{>widgets/reasons-item
                img="home/reasons/icon-4"
                ext="png"
                text="Вся продукция проходит испытания в собственном демо-центре"
            }}
          </li>
          <li class="home-reasons__item">
            {{>widgets/reasons-item
                img="home/reasons/icon-5"
                ext="png"
                text="Оперативная доставка и собственный парк авторефрижераторов"
            }}
          </li>
        </ul>
      </div>
      <div class="home-reasons__bg">{{>components/image no-2x=true img="home/reasons/bg" ext="png"}}</div>
    </div>
  </div>
</section>
