<section class="section home-help">
  <div class="container">
    <div class="section__container home-help__container">
      <div class="home-help__bg">{{>components/image no-2x=true img="home/help/bg" ext="jpg"}}</div>
      <div class="home-help__content">
        <header class="section__header">
          <h2 class="section__title section__title--center">ПОМОЩЬ В ОТКРЫТИИ И РАЗВИТИИ ПЕКАРНИ</h2>
        </header>
        <div class="section__content">
          <ul class="home-help__list">
            <li>
              Подбор комплекта оборудования и инвентаря с учетом параметров помещения и пожеланий клиента (может быть как
              в виде рекомендаций, так и сопровождение поставки с фирмой-партнером)
            </li>
            <li>
              Обучение персонала, т. е. технологов, пекарей, кондитеров клиента, технологиям и приемам производства
            </li>
            <li>
              Подбор ассортимента пекарни с учетом имеющейся информации о популярности тех или иных изделий на рынке,
              целевой группы покупателей и пожеланий клиента
            </li>
            <li> Предоставление информации о рецептурах и технологиях изготовления продукции пекарни</li>
            <li> Подбор сырья (ингредиентов) под потребности пекарни</li>
            <li>
              Постоянная и полная технологическая поддержка, т. е. телефонные консультации, выезд
              технолога-консультанта на производство.
            </li>
            <li>Расчет себестоимости готовых изделий</li>
            <li>Поставка сырья с доставкой клиенту режимным автотранспортом</li>
            <li>Участие специалистов клиента в мастер-классах и семинарах СибХЦ</li>
          </ul>
          <div class="section__action">
            <button class="section__action-btn js-popup-open" type="button" data-popup="help-open">Хочу открыть свою пекарню!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>