<section class="section home-faq">
  <div class="container">
    <div class="section__container">
      <header class="section__header">
        <h2 class="section__title section__title--center">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
      </header>
      <div class="section__content">
        <ul class="home-events__list">

        </ul>
      </div>
    </div>
  </div>
</section>