{{#>widgets/sidebar-widget title="Каталог товаров"}}
  <ul class="sidebar-list">
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item sidebar-list__item--parent">
      <a class="sidebar-list__link{{#if active-cat}} sidebar-list__link--active{{/if}}" href="#">Пункт меню <i class="icon-arrowRight"></i></a>
      <ul class="sidebar-list__submenu">
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link{{#if active-cat-2}} sidebar-list__link--active{{/if}}">Еще один пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Третий пункт подменю</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item sidebar-list__item--parent">
      <a class="sidebar-list__link" href="#">Пункт меню <i class="icon-arrowRight"></i></a>
      <ul class="sidebar-list__submenu">
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Еще один пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Третий пункт подменю</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Пункт меню</a></li>
  </ul>
{{/widgets/sidebar-widget}}
{{#>widgets/sidebar-widget title="Производители"}}
  <ul class="sidebar-list">
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item sidebar-list__item--parent">
      <a class="sidebar-list__link" href="#">Пункт меню <i class="icon-arrowRight"></i></a>
      <ul class="sidebar-list__submenu">
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Еще один пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Третий пункт подменю</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item sidebar-list__item--parent">
      <a class="sidebar-list__link" href="#">Пункт меню <i class="icon-arrowRight"></i></a>
      <ul class="sidebar-list__submenu">
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Еще один пункт вложенного меню</a>
        </li>
        <li class="sidebar-list__item">
          <a href="#" class="sidebar-list__link">Третий пункт подменю</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
    <li class="sidebar-list__item"><a class="sidebar-list__link" href="#">Производитель</a></li>
  </ul>
{{/widgets/sidebar-widget}}
{{#>widgets/sidebar-widget}}
  {{>widgets/sidebar-banner
      title="Открытые мастер-классы СибХЦ"
      text="На XVII Сибирском форуме хлебопечения пройдут открытые мастер-классы СибХЦ"
      img="sidebar/banner/bg"
      ext="png"
  }}
{{/widgets/sidebar-widget}}