//Container Width
$desktopWidth: 1440px;

//Media query
$tabletMedia: 1279px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 20px;
$tabletGutter: 20px;
$mobileGutter: 10px;

//Grid gutter
$gridGutter: 10px;

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
}