</div>

<footer class="page__footer footer">
  <div class="footer__top">
    <div class="container">
      {{>blocks/footer/footer-top}}
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      {{>blocks/footer/footer-bottom}}
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}