<header class="header page__header">
  <div class="header__top">
    <div class="container">
      {{>blocks/header/header-top current-page=current-page}}
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <nav class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item">
            <a href="#" class="menu-item">главная</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="menu-item">о компании</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="menu-item">каталог товаров</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="menu-item">мастер-классы</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="menu-item">блог</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="menu-item">контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="page__content">
