<header class="header page__header">
  <!--Top-->
  <div class="header__top">
    <div class="container">
      {{>blocks/header/header-top}}
    </div>
  </div>
  <!--Main-->
  <div class="header__main js-header-menu">
    <div class="container">
      {{>blocks/header/header-main}}
    </div>
  </div>
</header>

<div class="page__content">
