<header class="header page__header">
    <div class="header__top">
        <div class="container">
            <div class="header-top">
                <div class="header__logo">
                    <img src="../assets/images/common/logo.png" alt="logo">
                </div>
                <div class="header__contacts">
                    <ul class="header-contacts">
                        <li class="header-contacts__item">
                            <div class="contacts-item">
                                <span class="contacts-item__title">Наш email:</span>
                                <a href="mailto:sibbc@yandex.ru" class="contacts-item__link">sibbc@yandex.ru</a>
                            </div>
                        </li>
                        <li class="header-contacts__item">
                            <div class="contacts-item">
                                <span class="contacts-item__title">Отдел сбыта:</span>
                                <a href="tel:+73912205866" class="contacts-item__link">+7 (391) 220 58 66</a>
                            </div>
                        </li>
                        <li class="header-contacts__item">
                            <div class="contacts-item">
                                <span class="contacts-item__title">Приемная:</span>
                                <a href="tel:+73912211526" class="contacts-item__link">+7 (391) 221 15 26</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header__actions">
                    <button class="header__actions-btn js-popup">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="header-menu">
                <ul class="header-menu__list">
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">главная</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">о компании</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">каталог товаров</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">мастер-классы</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">блог</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#" class="menu-item">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main class="page__content">
