<div class="pagination">
  <button class="pagination__prev" type="button"><i class="icon-arrowLeft"></i></button>
  <ul>
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
  <button class="pagination__next" type="button"><i class="icon-arrowRight"></i></button>
</div>