<div class="slider-nav{{#if mode}} slider-nav--{{mode}}{{/if}}">
  <div class="slider-nav__item">
    <button class="slider-nav__btn js-slider-nav__prev"
            type="button" aria-label="Предыдущий сайд.">
      {{>ui/svg name="action--arrow-left"}}
    </button>
  </div>
  <div class="slider-nav__item">
    <button class="slider-nav__btn js-slider-nav__next"
            type="button" aria-label="Слудующий сайд.">
      {{>ui/svg name="action--arrow-right"}}
    </button>
  </div>
</div>
