<article class="about-page">
  <div class="carousel-slider js-carousel-slider">
    <div class="swiper-container js-carousel-slider__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-responsive">
            {{>components/image no-2x=true img='about/01' ext='jpg'}}
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-responsive">
            {{>components/image no-2x=true img='about/02' ext='jpg'}}
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-responsive">
            {{>components/image no-2x=true img='about/03' ext='jpg'}}
          </div>
        </div>
      </div>
      <div class="carousel-slider__nav">
        {{>components/slider-nav js-class="carousel-slider"}}
      </div>
      <div class="carousel-slider__pagination">
        <div class="js-carousel-slider__pagination"></div>
      </div>
    </div>
  </div>

  <p class="about-page__text">«Сибирский Хлебопекарный Центр» – компания нового бизнес-формата, оказывающая
    технологическую и информационную поддержку бизнесу клиентов. Мы специализируемся на комплексном обеспечении
    хлебопекарных и кондитерских предприятий, торговых сетей, ресторанов пищевыми ингредиентами и сопутствующими
    товарами для производства хлеба, выпечки и кондитерских изделий. Оказываем весь спектр услуг, связанных кондитерским
    и хлебопекарным бизнесом.</p>

  <div class="about-page__video">
    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/u1NdleDyKk0" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <section class="about-section about-section--grid">
    <h3 class="about-section__title">Большой ассортимент</h3>
    <div class="about-section__img">
      {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
    </div>
    <p class="about-section__text">Наша компания способна предложить большой ассортимент отечественного и зарубежного
      сырья для изготовления хлебных и кондитерских изделий от дрож- жей лучшего качества до готовых смесей,
      наполнителей, начинок, посыпок, ароматизаторов, специй и других сопутствующих товаров. Вся продукция проходит
      обязательный контроль качества и имеет соответствующие сертификаты.</p>
  </section>

  <section class="about-section about-section--grid about-section--reverted">
    <h3 class="about-section__title">Бесплатная доставка</h3>
    <div class="about-section__img">
      {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
    </div>
    <p class="about-section__text">Доставку товаров для вас осуществляет наша транспортная служба. Пищевые ингредиенты
      перевозятся в машинах - рефрижераторах, что гарантирует соблюдение условий хранения продукта во время
      транспортировки. Поставка сырья осуществляется бесплатно и в оговоренные сроки.</p>
  </section>

  <section class="about-section about-section--grid">
    <h3 class="about-section__title">Бесплатная технологическая поддержка</h3>
    <div class="about-section__img">
      {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
    </div>
    <p class="about-section__text">Также мы обеспечиваем бесплатную технологическую поддержку всего процесса
      производства, включая консультации, проведение демонстрационных выпечек, мастер-классов и семинаров.
      Все это может помочь вам на всех этапах организации хлебопекарного и кондитерского производства.</p>
  </section>

  <section class="about-section about-section--grid about-section--reverted">
    <h3 class="about-section__title">Собственный демонстрационный центр</h3>
    <div class="about-section__img">
      {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
    </div>
    <p class="about-section__text">С 2016 года для клиентов "Сибирского хлебопекарного центра" доступна уникальная
      услуга: компания открыла первый в Красноярском крае демонстрационный центр-студию для кондитеров и хлебопеков.
      Это площадка для профессионального общения и обмена опытом между специалистами нашей отрасли. Здесь мы проводим
      мастер-классы и семинары, где технологи нашего центра и компаний-партнеров делятся новинками отрасли, показывают,
      как пошагово применять ингредиенты и сырье, чтобы получить наилучший вкус и внешний вид готовых изделий,
      и достичь самых высоких стандартов качества. Это позволяет клиентам "Сибирского Хлебопекарного Центра",
      для которых мастер-классы являются подарком компании, быстро осваивать новейшие технологии.
      Анонсы ближайших мероприятий вы можете найти в разделе Мастер-классы.</p>
  </section>

  <section class="about-section about-section--grid">
    <h3 class="about-section__title">Снабжение первоклассным сырьем</h3>
    <div class="about-section__img">
      {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
    </div>
    <p class="about-section__text">Миссия «Сибирского хлебопекарного центра» – снабжать клиентов первоклассным сырьем
      и оказывать всестороннюю технологическую поддержку на всех этапах изготовления продукции. Мы предлагаем лучший
      ассортимент ингредиентов, позволяющих создавать высококачественный и конкурентный продукт. Мы открыты для всех
      форматов бизнеса: от маленьких пекарен, кондитерских и ресторанов, до крупных торговых сетей и хлебопекарных
      комбинатов. Большое внимание уделяется созданию прочных деловых взаимоотношений с ведущими производителями
      сырья для хлебопечения и кондитерского производства. Мы рады активно участвовать и вносить свой вклад в
      производство вкусной, полезной и качественной продукции, которая приносит людям радость и удовольствие!</p>
  </section>

  <section class="about-section about-benefits">
    <h3 class="about-section__title">5 ПРИЧИН ВЫБРАТЬ "СИБИРСКИЙ ХЛЕБОПЕКАРНЫЙ ЦЕНТР"</h3>
    <ul class="about-benefits__list">
      <li class="about-benefits__item">
        {{>widgets/reasons-item
            no-2x=true
            img="home/reasons/icon-1"
            ext="png"
            text="Наличие собственного демонстрационного центра"
        }}
      </li>
      <li class="about-benefits__item">
        {{>widgets/reasons-item
            img="home/reasons/icon-2"
            ext="png"
            text="Многоступенчатый контроль за качеством продукции"
        }}
      </li>
      <li class="about-benefits__item">
        {{>widgets/reasons-item
            img="home/reasons/icon-3"
            ext="png"
            text="Эффективные мастер-классы и&nbsp;семинары для&nbsp;клиентов"
        }}
      </li>
      <li class="about-benefits__item">
        {{>widgets/reasons-item
            img="home/reasons/icon-4"
            ext="png"
            text="Вся продукция проходит испытания в собственном демо-центре"
        }}
      </li>
      <li class="about-benefits__item">
        {{>widgets/reasons-item
            img="home/reasons/icon-5"
            ext="png"
            text="Оперативная доставка и собственный парк авторефрижераторов"
        }}
      </li>
    </ul>
  </section>

  <section class="about-section about-brands">
    <h3 class="about-section__title">НАШИ ПАРТНЕРЫ</h3>
    <ul class="about-brands__list">
      <li class="about-brands__item">
        <div class="about-brands__image">{{>components/image no-2x=true img="brands/dukat" ext="png"}}</div>
      </li>
      <li class="about-brands__item">
        <div class="about-brands__image">{{>components/image no-2x=true img="brands/dukat" ext="png"}}</div>
      </li>
      <li class="about-brands__item">
        <div class="about-brands__image">{{>components/image no-2x=true img="brands/dukat" ext="png"}}</div>
      </li>
      <li class="about-brands__item">
        <div class="about-brands__image">{{>components/image no-2x=true img="brands/dukat" ext="png"}}</div>
      </li>
    </ul>
    <div class="about-brands__action">
      <a href="#" class="about-brands__btn">Все производители</a>
    </div>
  </section>
</article>
