{{!О Компании}}

{{> layout/head page-title="О Компании"}}

{{> layout/header current-page="about"}}

<main class="internal-template">
  <div class="container">
    <div class="internal-template__container">
      <div class="internal-template__breadcrumbs">
        <div class="page-breadcrumbs">
          <span class="page-breadcrumbs__item"><a class="page-breadcrumbs__link" href="#">СибХЦ</a></span>
          <span class="page-breadcrumbs__item page-breadcrumbs__item--current">О Компании</span>
        </div>
      </div>
      <div class="internal-template__header">
        <h1 class="internal-template__title internal-template__title--big">О Компании</h1>
      </div>
      <div class="internal-template__content">

      </div>
    </div>
  </div>
</main>

{{> layout/footer }}
