{{!Главная}}

{{>layout/head page-title="Главная"}}

{{>layout/header current-page="main"}}

<div class="home-container">
  {{>blocks/home/01_intro}}
  {{>blocks/home/02_partners}}
  {{>blocks/home/03_catalog}}
  {{>blocks/home/04_about}}
  {{>blocks/home/05_reasons}}
  {{>blocks/home/06_help}}
</div>

{{>layout/footer}}
