{{!Каталог товаров}}

{{> layout/head page-title="Contacts"}}

{{> layout/header }}
<div class="internal-template internal-template--sidebar-enabled">
  <aside class="internal-template__sidebar">
    {{>blocks/common/sidebar}}
  </aside>
  <main class="internal-template__container">
    <div class="internal-template__breadcrumbs">
      <div class="page-breadcrumbs">
        <span class="page-breadcrumbs__item"><a class="page-breadcrumbs__link" href="#">СибХЦ</a></span>
        <span class="page-breadcrumbs__item page-breadcrumbs__item--current">Каталог товаров</span>
      </div>
    </div>
    <div class="internal-template__header">
      <h1 class="internal-template__title internal-template__title--big">Каталог товаров</h1>
    </div>
    <div class="internal-template__content">
      {{>blocks/shop/main}}
    </div>
  </main>
</div>
{{> layout/footer }}
