{{!Каталог товаров / Категория товара}}

{{> layout/head page-title="Каталог товаров / Категория товара"}}

{{> layout/header internal-template=true current-page="shop"}}
<div class="internal-template internal-template--sidebar-enabled">
  <aside class="internal-template__sidebar">
    {{>blocks/common/sidebar active-cat=1 active-cat-2=1}}
  </aside>
  <main class="internal-template__container">
    <div class="internal-template__breadcrumbs">
      <div class="page-breadcrumbs">
        <span class="page-breadcrumbs__item"><a class="page-breadcrumbs__link" href="#">СибХЦ</a></span>
        <span class="page-breadcrumbs__item page-breadcrumbs__item--current">Категория товара</span>
      </div>
    </div>
    <div class="internal-template__header">
      <h1 class="internal-template__title internal-template__title--big">Категория товара</h1>
    </div>
    <div class="internal-template__content">
      {{>blocks/shop/category-single}}
    </div>
  </main>
</div>
{{> layout/footer internal-template=true }}
