<li class="ui-widgets__row">
  {{#> ui-kit/core/widget title='.catalog-item' width=300 px=1}}
    {{>widgets/catalog-item
        img="home/catalog/ex"
        ext="png"
        title="Семена и Орехи"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.reasons-item' width=400 px=1}}
    {{>widgets/reasons-item
        img="home/reasons/icon-1"
        ext="png"
        text="Наличие собственного демонстрационного центра"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.reasons-item with centered image' width=400 px=1}}
    {{>widgets/reasons-item
        center=true
        img="home/reasons/icon-1"
        ext="png"
        text="Наличие собственного демонстрационного центра"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.event-card' width=400 px=1}}
    {{>widgets/event-card
        img="home/events/event-1"
        time="1 октября, 2020"
        title="Семинар-дегустация «Закваски и заварки для хлеба и хлебобулочных изделий»"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.faq-item' width=100}}
    {{>widgets/faq-item
        o="03."
        q="Насколько безопасна ваша продукция, как осуществляется контроль качества?"
        a="Все предлагаемая СибХЦ линейка ингредиентов и сырья проходит обязательный контроль качества и имеет соответствующие сертификаты. Наши ингредиенты позволяют производить вкусную и полезную хлебопекарную и кондитерскую продукцию и (важно) дают возможность упростить и ускорить технологический процесс. Партнерам предоставляется полное бесплатное технологическое сопровождение, т. е. от телефонных консультаций по хранению и применению продукта до участия нашего технолога в производственном процессе. Это является гарантией качества конечного продукта."
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.ingredient-item' width=200 px=1}}
    {{>widgets/ingredient-item
        img="home/catalog/ex"
        ext="png"
        label="Пример ингридиента"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.news-card' width=800 px=1}}
    {{>widgets/news-card}}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.related-event' width=20}}
    {{>widgets/related-event
        time="25 сентября 2020 года"
        title="Семинар-дегустация «Закваски и заварки для хлеба и хлебобулочных изделий»"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.sidebar-banner' width=200 px=1}}
    {{>widgets/sidebar-banner
        title="Открытые мастер-классы СибХЦ"
        text="На XVII Сибирском форуме хлебопечения пройдут открытые мастер-классы СибХЦ"
        img="sidebar/banner/bg"
        ext="png"
    }}
  {{/ui-kit/core/widget}}
  {{#> ui-kit/core/widget title='.speaker-item' width=200 px=1}}
    {{>widgets/speaker-item
        img="speakers/01"
        ext="jpg"
        title="Кутуева Лилия"
    }}
  {{/ui-kit/core/widget}}
</li>

