<div class="footer-bottom">
  <div class="footer-bottom__item">
    <p>&copy; «Сибирский хлебопекарный центр», 2020.</p>
  </div>
  <div class="footer-bottom__item">
    <p>Разработка сайта — <a href="#" target="_blank" rel="nofollow">SkazMasters</a></p>
  </div>
</div>

