<section class="contacts-table">
  <ul class="contacts-table__container">
    <li class="contacts-table__item">
      <table>
        <thead>
        <tr>
          <td>ООО "Сибирский Хлебопекарный Центр"</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          {{>components/contacts-table-td
              title="Адрес:"
              text="Россия, г. Красноярск, ул. Маерчака, 55"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="E-mail:"
              text="sibbc@yandex.ru"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Отдел сбыта:"
              text="+7 (391) 220-58-66, <br> +7 (391) 221-57-73"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Приемная:"
              text="+7 (391) 221 15 26"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Генеральный директор:"
              text="Гацко Дмитрий Дмитриевич, <br> +7 (391) 221-15-26"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Главный бухгалтер:"
              text="Толстогузова Светлана Анатольевна, <br> +7 (391) 221-15-26"
          }}
        </tr>
        </tbody>
      </table>
    </li>
    <li class="contacts-table__item">
      <table>
        <thead>
        <tr>
          <td>Реквизиты:</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          {{>components/contacts-table-td
              title="Юридический адрес:"
              text="660048, г. Красноярск, ул. Маерчака, д. 55"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Фактический адрес:"
              text="660048, г. Красноярск, ул. Маерчака, д. 55"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="ИНН"
              text="2460235904"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="КПП"
              text="246001001"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="ОГРН"
              text="1122468007617"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Банк:"
              text='Сибирский филиал АО "Райффайзенбанк" г. Новосибирск'
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="Р/сч"
              text="40702810407000001757"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="К/сч"
              text="30101810300000000799"
          }}
        </tr>
        <tr>
          {{>components/contacts-table-td
              title="БИК"
              text="045004799"
          }}
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
</section>