.intro {
    margin-top: 30px;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-slider {
        border: solid 2px red;
        flex-basis: 66%;
        height: 480px;
    }

    &__news {
        flex-basis: 383px;
    }
}

.news-item {
    position: relative;
    padding: 21px 23px 37px;
    height: 228px;
    border: solid 2px red;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}