<article class="event-content">
  <div class="event-content__container">
    <div class="event-content__left">
      <div class="static">
        {{>components/image no-2x=true img="event/preview" ext="jpg"}}

        <p>29 января 2020 года в нашем демонстрационном центре прошел бесплатный мастер-класс от компании ЗАО «УНИГРА»
          (Master Martini).</p>
        <p>Наши специалисты представили программу для предстоящих праздников, а также новинки и оригинальные решения в
          оформлении тортов, конфет, попс-кейков, куличей и кексов. Мастер-класс и презентацию продукции проводит
          демонстратор — консультант Лилия Кутуева совместно с нашими технологами Нелли Миллер и Татьяной Орловой.</p>

        <h2>Программа мастер-класса</h2>

        <p><b>Торты:</b></p>
        <ul>
          <li>Торт «Андалусия»;</li>
          <li>Торт «Экзотик»;</li>
          <li>Торт «Сметанно-клубничный».</li>
        </ul>

        <p><b>Печенье и пирожные:</b></p>
        <ul>
          <li>Печенье «Мокко-трюфель»;</li>
          <li>Печенье «Бискотти»;</li>
          <li>Пирожное «Пасха».</li>
        </ul>

        <p><b>Куличи и кексы:</b></p>
        <ul>
          <li>Кулич «Пасхальный»;</li>
          <li>Кулич «Крафин»;</li>
          <li>Пасхально-шоколадный кекс.</li>
        </ul>

        <p><b>Конфеты и попс-кейки:</b></p>
        <ul>
          <li>Конфета с томатами;</li>
          <li>Попс-кейки клубничные.</li>
        </ul>

        <h2>Ингредиенты использованные на мероприятии</h2>
        <ul class="columns columns--2">
          <li>Шоколад Ариба 60%, 70%</li>
          <li>Апельсиновая паста «Varegato Arancio»</li>
          <li>Смесь крахмальная «Микельанджелло»</li>
          <li>Темный шоколад «Ариба» 54%</li>
          <li>Молочный шоколад «<a href="http://xn--90an0asf.xn--p1ai/product/shokolad-v-plitkah-molochnyj-ariba-latte-pani-32-2-5-kg/" target="_blank" rel="noopener">Ариба</a>»</li>
          <li>Сливки «Мастер Гурме»</li>
          <li><a href="http://xn--90an0asf.xn--p1ai/product/shokolad-belyj-v-plitkah-ariba-bianco-pani-2-5-kg/" target="_blank" rel="noopener">Шоколад Ариба белый</a></li>
          <li><a href="http://xn--90an0asf.xn--p1ai/product/glazur-chentramerika-klubnika/" target="_blank" rel="noopener">Глазурь «Чентрамерика Клубника»</a></li>
          <li>Маргарин «Максим Джоя»</li>
          <li>Шоколад Ариба Чанксы темные</li>
          <li>Улучшитель «<a href="http://xn--90an0asf.xn--p1ai/product/kompleksnaya-pishhevaya-dobavka-master-pan-freez-master-pan-friz/" target="_blank" rel="noopener">Мастер Пан Фриз</a>»</li>
          <li>Покрытие «<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-konditerskij-krem-bolero-kokoa/" target="_blank" rel="noopener">Болеро Какао</a>»</li>
          <li>Глазурь «<a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-karibe-byanko-diski/" target="_blank" rel="noopener">Карибе Бьянко</a>» (для декора)</li>
          <li>Смесь «<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-muchnyh-konditerskih-izdelij-fiorfiore-muffin-c20-fiorfiore-maffin-ts20/" target="_blank" rel="noopener">Маффин С20</a>»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-konditerskij-krem-karavella-krem-kakao/" target="_blank" rel="noopener">Каравелла Крем Какао</a>»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/kakao-poroshok-alkalizovannyj-ariba-kakao-amaro/" target="_blank" rel="noopener">Ариба Какао Амаро</a>»</li>
          <li>Шоколадные «Чанксы Вайт»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-muchnyh-konditerskih-izdelij-fiorfiore-pan-di-spagna-c25-fiorfiore-pan-di-spanya-ts25/" target="_blank" rel="noopener">Пан ди Спанья С25</a>» смесь</li>
          <li>Шоколадные капли «Ариба» / «Бай»</li>
          <li>Глазурь «<a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-chentramerika-master-martini/" target="_blank" rel="noopener">Чентрамерика</a>»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-konditerskij-krem-karavella-kover-kokoa/" target="_blank" rel="noopener">Ковер Кокоа</a>» (покрытие)</li>
          <li><a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-karibe-byanko-skalette/" target="_blank" rel="noopener">Карибе Бьянко Скальетте</a> (на обсыпку)</li>
          <li>Смесь миндальная «<a href="http://xn--90an0asf.xn--p1ai/product/konditerskij-otdelochnyj-polufabrikat-fiorfiore-la-glassa-fiorfiore-la-glassa/" target="_blank" rel="noopener">Ла Гласса</a>»</li>
          <li>Покрытие белое «<a href="http://xn--90an0asf.xn--p1ai/product/polufabrikat-konditerskij-krem-karavella-kover-uajt/" target="_blank" rel="noopener">Каравелла Ковер Вайт</a>»</li>
          <li>Зеркальное покрытие «<a href="http://xn--90an0asf.xn--p1ai/product/zerkalnyj-gel-mirall-nejtralnyj/" target="_blank" rel="noopener">Миралль Нейтральный</a>»</li>
          <li>Декор из глазури «<a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-karibe-byanko-diski/" target="_blank" rel="noopener">Карибе диски белые</a>»</li>
          <li>Белый шоколад «<a href="http://xn--90an0asf.xn--p1ai/product/shokolad-belyj-v-plitkah-ariba-bianco-pani-2-5-kg/" target="_blank" rel="noopener">Ариба</a>»</li>
          <li>Десертная паста «<a href="http://xn--90an0asf.xn--p1ai/product/fruktovyj-polufabrikat-dlya-konditerskih-izdelij-linea-gelato-pasta-fragola-klubnika/" target="_blank" rel="noopener">Клубника</a>»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/zerkalnyj-gel-mirall-belyj-shokolad/" target="_blank" rel="noopener">Миралль Белый Шоколад</a>»</li>
          <li>«<a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-karibe-byanko-diski/" target="_blank" rel="noopener">Миралль Бьянко</a>»</li>
          <li>Декор из глазури «<a href="http://xn--90an0asf.xn--p1ai/product/glazur-konditerskaya-karibe-fondente-diski/" target="_blank" rel="noopener">Карибе диски тёмные</a>»</li>
        </ul>

        <div class="event-album">
          <h2>Фотоотчёт</h2>
          <div class="slider-thumbs js-slider-thumbs">
            {{>components/image no-2x=true img="event/preview" ext="jpg"}}
            {{>components/image no-2x=true img="home/about/about" ext="jpg"}}
            {{>components/image no-2x=true img="home/slider/01" ext="jpg"}}
            {{>components/image no-2x=true img="home/slider/02" ext="png"}}
            {{>components/image no-2x=true img="home/slider/03" ext="jpg"}}
            {{>components/image no-2x=true img="event/preview" ext="jpg"}}
            {{>components/image no-2x=true img="event/preview" ext="jpg"}}
          </div>
        </div>
      </div>
    </div>
    <div class="event-content__right">
      <section class="event-speakers">
        <h2 class="event-content__title">Спикеры мастер-класса:</h2>
        <ul class="event-speakers__list">
          <li>
            {{>widgets/speaker-item
                img="speakers/01"
                ext="jpg"
                title="Кутуева Лилия"
            }}
          </li>
          <li>
            {{>widgets/speaker-item
                img="speakers/02"
                ext="jpg"
                title="Орлова Татьяна"
            }}
          </li>
          <li>
            {{>widgets/speaker-item
                img="speakers/03"
                ext="jpg"
                title="Миллер Нелли"
            }}
          </li>
        </ul>
      </section>
      <section class="event-ingredients">
        <h2 class="event-content__title">Ингредиенты:</h2>
        <ul class="event-speakers__list">
          <li>
            {{>widgets/ingredient-item
                img="home/catalog/ex"
                ext="png"
                label="Пример ингридиента"
            }}
          </li>
          <li>
            {{>widgets/ingredient-item
                img="home/catalog/ex"
                ext="png"
                label="Пример ингридиента с длинным описанием"
            }}
          </li>
          <li>
            {{>widgets/ingredient-item
                img="home/catalog/ex"
                ext="png"
                label="Пример ингридиента"
            }}
          </li>
          <li>
            {{>widgets/ingredient-item
                img="home/catalog/ex"
                ext="png"
                label="Пример ингридиента с неимоверно длинным описанием заголовка"
            }}
          </li>
          <li>
            {{>widgets/ingredient-item
                img="home/catalog/ex"
                ext="png"
                label="Пример ингридиента"
            }}
          </li>
        </ul>
      </section>
    </div>
  </div>
</article>
<section class="event-related">
  <h2 class="event-related__title">История мастер-классов</h2>
  <ul class="event-related__list">
    <li>
      {{>widgets/related-event
          time="25 сентября 2020 года"
          title="Семинар-дегустация «Закваски и заварки для хлеба и хлебобулочных изделий»"
      }}
    </li>
    <li>
      {{>widgets/related-event
          time="12 марта 2020 года"
          title="Мастер-класс Ивана Забавникова"
      }}
    </li>
    <li>
      {{>widgets/related-event
          time="29 января 2020 года"
          title="Бесплатный мастер-класс от компании ЗАО «УНИГРА»"
      }}
    </li>
    <li>
      {{>widgets/related-event
          time="18 декабря 2019 года"
          title="Итоговый семинар-дегустация «Хлебопекарные и кондитерские тренды 2019 года»"
      }}
    </li>
  </ul>
  <div class="event-related__action">
    <a href="#" class="btn btn--primary">Смотреть все мероприятия</a>
  </div>
</section>