<section class="blog-news">
  <ul class="blog-news__list">
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
    <li class="blog-news__item">
      {{>widgets/news-card}}
    </li>
  </ul>
  <div class="blog-news__nav">
    {{>components/pagination}}
  </div>
</section>