<div class="static">
  <p>
    <b>СибХЦ обеспечивает бесперебойные поставки хлебопекарного и кондитерского сырья и ингредиентов, в соответствии с
      партнерскими обязательствами и принципами социальной ответственности!</b>
  </p>

  <p>
    В условиях сложившейся эпидемиологической ситуации Сибирский хлебопекарный центр обеспечивает регулярные и
    бесперебойные поставки хлебопекарного и кондитерского сырья и ингредиентов, в соответствии с взятыми
    обязательствами и принципами социальной ответственности компании.
  </p>

  <p>
    В это непростое время СибХЦ реализованы комплексные меры, гарантирующие клиентам непрерывный процесс
    доставки сырьевой продукции, без которой невозможно производство продовольственных товаров первой необходимости.
  </p>

  <p>
    Стабильность и бесперебойность работы СибХЦ обусловлена поддержанием неснижаемого запаса сырья и ингредиентов на
    складах компании, усиленными санитарно-гигиеническими мерами, максимальным использованием дистанционных
    технологий при взаимодействии с клиентами и партнерами, а также следованию принципам четкого выполнения
    взаимных обязательств.
  </p>

  <p>
    Компания работает в штатном режиме. Таким образом, выполняется социально-экономическая миссия СибХЦ:
    создание условий для выпуска жизненно важной продовольственной продукции высочайшего качества,
    участие в ежедневном производстве свежего, полезного хлеба.
  </p>

  <div class="content-note">
    <b>Важно:</b>
    <p>Компания работает в штатном режиме. Таким образом, выполняется социально-экономическая миссия СибХЦ:
      создание условий для выпуска жизненно важной продовольственной продукции высочайшего качества,
      участие в ежедневном производстве свежего, полезного хлеба.</p>
  </div>

  <p>
    Компания работает в штатном режиме. Таким образом, выполняется социально-экономическая миссия СибХЦ:
    создание условий для выпуска жизненно важной продовольственной продукции высочайшего качества,
    участие в ежедневном производстве свежего, полезного хлеба.
  </p>

  <div class="content-note">
    <p>Компания работает в штатном режиме. Таким образом, выполняется социально-экономическая миссия СибХЦ:
      создание условий для выпуска жизненно важной продовольственной продукции высочайшего качества,
      участие в ежедневном производстве свежего, полезного хлеба.</p>
  </div>


  <div class="content-table">
    <div class="content-table__container">
      <table>
        <thead>
        <tr>
          <th class="has-text-align-center" data-align="center">Дозировка</th>
          <th class="has-text-align-center" data-align="center">Хранение</th>
          <th class="has-text-align-center" data-align="center">Упаковка</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="has-text-align-center" data-align="center">5-10% к массе муки</td>
          <td class="has-text-align-center" data-align="center">0-6 С., 4-6 мес.</td>
          <td class="has-text-align-center" data-align="center">ведро 6 кг</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p>
    Технологи, маркетологи, менеджеры, сотрудники транспортного блока компании, вся команда СибХЦ работает, чтобы
    по-прежнему удовлетворять потребности клиентов. Обслуживание, приём заказов и доставка продукции производятся
    безостановочно, в полном объеме по всему ассортименту без исключения.
  </p>

  <blockquote>
    <p>«Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.Настало время
      прислушаться
      к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными покупками, наслаждайтесь
      культурными мероприятиями»</p>
    <footer>Иванов Олег Валерьянович</footer>
  </blockquote>
</div>
