.header {

  &__bottom {
    background: $color-white;
  }

  &-menu {
    &__list {
      display: flex;
    }

    &__item {
      flex-grow: 1;
    }
  }
}

.menu-item {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-left: 1px solid #f1f5f9;

  &:last-child {
    border-right: 1px solid #f1f5f9;
  }
}