$icons: (sprite: (width: 76px, height: 76px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
comment: (width: 26px, height: 26px, backgroundX: 0px, backgroundY: 0px),
popup-close: (width: 26px, height: 26px, backgroundX: -26px, backgroundY: -26px),
right: (width: 12px, height: 12px, backgroundX: -52px, backgroundY: -52px),
right-primary: (width: 12px, height: 12px, backgroundX: -64px, backgroundY: -64px),
);
